<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>django-bootstrap-toolkit = Bootstrap support for Django</title>
    <meta name="description" content="">
    <meta name="author" content="Dylan Verheul">
    <!--BootStrap core CSS-->
    <style type="text/css">
        body {
            padding-top: 60px;
        }
        .topjianju{
            margin-top: 100px;
    }
</style>
    </style>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.bootcss.com/p/buttons/css/buttons.css">
<!--     <link rel="stylesheet" href="{% static "bootstrap.min.css"%}">
 -->    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <!-- <script src="{% static "bootstrap.min.js"%}"></script>
    <script src="../../static/js/jquery.min.js"></script> -->
    {% block extra_head %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">后台管理系统</a>
    </div>
        <ul class="nav navbar-nav">
                <li><a href="/managefruit" class="">水果管理</a></li>
                <li><a href="{% url 'demo_app.views.demo_form' %}">资讯管理</a></li>
                <li><a href="{% url 'formset' %}">讨论区管理</a></li>
            </ul>
        </div>
</nav>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6">
            <p> <a href="/manage">管理员登录</a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="http://twitter.com/dyve">周天阔1133210</a> 信息管理与信息系统专业2班
                |
                <a href="https://raw.github.com/dyve/django-bootstrap-toolkit/master/LICENSE">license</a>
            </p>
        </div>
    </footer>

</div> <!-- container -->
 
</body>
</html>
