{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}
{% load pagination_tags %}
 	{% autopaginate news_list 5 %}
	<div class="panel panel-default">
	<div class="panel-body">
    	<div class="row">
    		<div class="col-xs-2">
    		</div>
    		<div class="col-xs-8">
    			<ul class="list-group">
    			<li class="list-group-item">
    			分享与求助
    			<a href="{% url 'deltopic' %}">
        		<button type="button" class="btn btn-success btn-sm pull-right">
          			<span class="glyphicon glyphicon-edit">
          				我要发布
          			</span> 
        		</button>
        		</a>
      			</li>
      			<li class="list-group-item">
      				<a href="http://www.bootcss.com/" class="btn btn-success btn-xs">全部</a>
      				<a href="http://www.bootcss.com/" class="btn btn-primary btn-xs">健康贴士</a>
      				<a href="http://www.bootcss.com/" class="btn btn-primary btn-xs">养生杂谈</a>
      				<a href="http://www.bootcss.com/" class="btn btn-primary btn-xs">水果信息</a>
      				<a href="http://www.bootcss.com/" class="btn btn-primary btn-xs">专家讲座</a>
      				<a href="http://www.bootcss.com/" class="btn btn-primary btn-xs">版块建议</a>
      			</li>
      			</ul>
      				<div class="button-group">
   	 						<button type="button" class="button button-primary btn-sm">最新回复</button>
    						<button type="button" class="button button btn-sm">最新发布</button>
    						<button type="button" class="button button btn-sm">最热</button>
    						<button type="button" class="button button btn-sm">精华</button>
    				</div>
    			{% for i in news_list %} 
    			<div class="row">   				
    			<div class="col-xs-1">
    				<button type="button" class="btn btn-success btn-circle btn-lg""><i class="fa fa-thumbs-up"></i></button>
      				</div>
      				<div class="col-xs-9">
      				<a href="#">{{ i.title }}</a>
      				<h6>{{ i.author }}&emsp;&emsp;{{i.datetime}}&emsp;&emsp;发表在【{{i.topic}}】&emsp;&emsp;最后回复xx分钟前&emsp;&emsp;&emsp;&emsp;回复{{i.reply}}赞{{i.zan}}浏览{{i.look}}</h6>
      				</div>
      			</div>
      			<hr>
      			{% endfor %}
    			<hr>
      		</div>
      	</div>
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-6">
			<ul class="pagination">
    			{% paginate %}
			</ul>
		</div>
	</div>
	</div>
	</div>


{% endblock %}