{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}
	<div class="panel panel-default">
	<div class="panel-body">
    	<div class="row">
    		<div class="col-xs-2">
    		</div>
    		<div class="col-xs-8">
    			<ul class="list-group">
    			<li class="list-group-item">
    			分享与求助
    			<a href="{% url 'deltopic' %}">
        		<button type="button" class="btn btn-success btn-sm pull-right">
          			<span class="glyphicon glyphicon-edit">
          				我要发布
          			</span> 
        		</button>
        		</a>
      			</li>
      			<li class="list-group-item">
      				<a href="http://www.bootcss.com/" class="btn btn-success btn-xs">全部</a>
      				<a href="http://www.bootcss.com/" class="btn btn-primary btn-xs">健康贴士</a>
      				<a href="http://www.bootcss.com/" class="btn btn-primary btn-xs">养生杂谈</a>
      				<a href="http://www.bootcss.com/" class="btn btn-primary btn-xs">水果信息</a>
      				<a href="http://www.bootcss.com/" class="btn btn-primary btn-xs">专家讲座</a>
      				<a href="http://www.bootcss.com/" class="btn btn-primary btn-xs">版块建议</a>
      			</li>
      			</ul>
      				<div class="button-group">
   	 						<button type="button" class="button button-primary btn-sm">最新回复</button>
    						<button type="button" class="button button btn-sm">最新发布</button>
    						<button type="button" class="button button btn-sm">最热</button>
    						<button type="button" class="button button btn-sm">精华</button>
    				</div>
    			<div class="row">
    				<div class="col-xs-1">
    				<button type="button" class="btn btn-success btn-circle btn-lg""><i class="fa fa-thumbs-up"></i></button>
      				</div>
      				<div class="col-xs-9">
      				<a href="#">我是这个板块的第一个测试的帖子，希望顺利</a>
      				<h6>详细信息&emsp;&emsp;2017-04-15&emsp;&emsp;发表在【xxx】&emsp;&emsp;最后回复xx分钟前&emsp;&emsp;&emsp;&emsp;回复0赞0浏览0</h6>
      				</div>
      			</div>
      			<hr>
    			<div class="row">
    				<div class="col-xs-1">
    				<button type="button" class="btn btn-success btn-circle btn-lg""><i class="fa fa-thumbs-up"></i></button>
      				</div>
      				<div class="col-xs-9">
      				<a href="#">我是这个板块的第一个测试的帖子，希望顺利</a>
      				<h6>详细信息&emsp;&emsp;2017-04-15&emsp;&emsp;发表在【xxx】&emsp;&emsp;最后回复xx分钟前&emsp;&emsp;&emsp;&emsp;回复0赞0浏览0</h6>
      				</div>
      			</div>
    			<hr>
    			<div class="row">
    				<div class="col-xs-1">
    				<button type="button" class="btn btn-success btn-circle btn-lg""><i class="fa fa-thumbs-up"></i></button>
      				</div>
      				<div class="col-xs-9">
      				<a href="#">我是这个板块的第一个测试的帖子，希望顺利</a>
      				<h6>详细信息&emsp;&emsp;2017-04-15&emsp;&emsp;发表在【xxx】&emsp;&emsp;最后回复xx分钟前&emsp;&emsp;&emsp;&emsp;回复0赞0浏览0</h6>
      				</div>
      			</div>
    			<hr>
    			<div class="row">
    				<div class="col-xs-1">
    				<button type="button" class="btn btn-success btn-circle btn-lg""><i class="fa fa-thumbs-up"></i></button>
      				</div>
      				<div class="col-xs-9">
      				<a href="#">我是这个板块的第一个测试的帖子，希望顺利</a>
      				<h6>详细信息&emsp;&emsp;2017-04-15&emsp;&emsp;发表在【xxx】&emsp;&emsp;最后回复xx分钟前&emsp;&emsp;&emsp;&emsp;回复0赞0浏览0</h6>
      				</div>
      			</div>
    			<hr>
    			<div class="row">
    				<div class="col-xs-1">
    				<button type="button" class="btn btn-success btn-circle btn-lg""><i class="fa fa-thumbs-up"></i></button>
      				</div>
      				<div class="col-xs-9">
      				<a href="#">我是这个板块的第一个测试的帖子，希望顺利</a>
      				<h6>详细信息&emsp;&emsp;2017-04-15&emsp;&emsp;发表在【xxx】&emsp;&emsp;最后回复xx分钟前&emsp;&emsp;&emsp;&emsp;回复0赞0浏览0</h6>
      				</div>
      			</div>
    			<hr>
      		</div>
      	</div>
	<div class="row">
		<div class="col-xs-4"></div>
		<div class="col-xs-6">
			<ul class="pagination">
    			<li><a href="#">&laquo;</a></li>
    			<li><a href="#">1</a></li>
    			<li><a href="#">2</a></li>
    			<li><a href="#">3</a></li>
    			<li><a href="#">4</a></li>
    			<li><a href="#">5</a></li>
    			<li><a href="#">&raquo;</a></li>
			</ul>
		</div>
	</div>
	</div>
	</div>


{% endblock %}