{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
    {{ formset.media }}
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <script src="{% static "RadarChart.js"%}"></script>  
    <script src="{% static "d3.v3.min.js"%}"></script>
    <style type="text/css">
        .jianju{
            margin-bottom: 20px;
            margin-left:90px;
        }
        .shang{
            margin-bottom: 30px;
        }
    </style>
    <div class="center-block" style="width: 200px">
        <h1>比较结果</h1>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="jianju">
            <img src="{% static fruit1img %}" width="120px" height="120px">
            </div>
                <div class="panel panel-default pull-down" style="height: 100px;">
                    <div class="shang">
                        <label>热量:{{ food_list.rheat }}大卡</label>
                        <label>&emsp;&emsp;脂肪:{{ food_list.rfat }}克</label>
                        <label>&emsp;&emsp;纤维素:{{ food_list.rcellulose }}克</label>
                    </div>
                    <div class="xia">
                        <label>碳水化合物:{{ food_list.rco2 }}克</label>
                        <label>&emsp;&emsp;蛋白质：{{ food_list.rprotein }}克</label>
                    </div>
                </div>
        </div>
        <div class="col-xs-4">
            <div id="chart" style='width:400px;margin:0px;'></div>   
        </div>
        <div class="col-xs-4">
            <div class="jianju">
                <img src="{% static fruit2img %}" width="120px" height="120px">
            </div>
            <div class="panel panel-default" style="height: 100px">
                <div class="shang">
                        <label>热量:{{ food_list2.rheat }}大卡</label>
                        <label>&emsp;&emsp;脂肪:{{ food_list2.rfat }}克</label>
                        <label>&emsp;&emsp;纤维素:{{ food_list2.rcellulose }}克</label>
                    </div>
                    <div class="xia">
                        <label>碳水化合物:{{ food_list2.rco2 }}克</label>
                        <label>&emsp;&emsp;蛋白质：{{ food_list2.rprotein }}克</label>
                    </div>
            </div>             
        </div>
    </div>
    <script type="text/javascript" src="{% static "ra2.js"%}"></script>
    <script  type="text/javascript" >  
        radar('#chart','{% static "type2.csv"%}','{% static name %}');  
    </script>  
        <h5>其他水果推荐</h5>
        <div class="row">
            {% for i in compare_list %}
            <div class="col-xs-2">
                <img src="{% static i %}" width="120px" height="120px">
            </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for i in food_new_list %}
            <div class="col-xs-2">
                <a href="/compare?fruit1={{food_list2.rfoodname}}&fruit2={{i.rfoodname}}" class="btn btn-primary" style="width: 120px">加入比较</a>
            </div>
            {% endfor %}
        </div>
{% endblock %}