{% extends "base.html" %}

{% block content %}
	<table class="table">
        <thead>
            <tr>
                <th>标题</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><a href="#">第一次开发经验</a></th>
                <th>2017-4-14</th>
            </tr>
            <tr>
                <th><a href="#">第二次开发经验</a></th>
                <th>2017-2-22</th>
            </tr>
        </tbody>
    </table>
    <p>感谢各位大佬花时间来浏览我的web，欢迎指教~</p>

{% endblock %}