{% extends "backbase.html" %}

{% load bootstrap_toolkit %}

{% block content %}
{% load pagination_tags %}
    {% autopaginate fruit_list 10 %}
 {% load staticfiles %}
    <script src="{% static "editTable.js"%}"></script>  
<style type="text/css"> 
    .serpage{ margin-left: 440px;}
</style> 
 <div class="container">
<table class="table table-hover editable">
  <thead>
    <tr>
      <th>名称</th>
      <th>热量</th>
      <th>脂肪</th>
      <th>纤维素</th>
	  <th>碳水化合物</th>
      <th>蛋白质</th>
      <th>维生素A</th>
      <th>评价</th>
	  <th></th>      
    </tr>
  </thead>
  <tbody>
     {% for i in fruit_list %}
      <tr>
      <td>{{i.rfoodname}}</td>
      <td>{{i.rheat}}</td>
      <td>{{i.rfat}}</td>
      <td>{{i.rcellulose}}</td>
      <td>{{i.rco2}}</td>
      <td>{{i.rprotein}}</td>
      <td>{{i.rvia}}</td>
      <td>{{i.raccess}}</td>
      <td><a href="javascript:void(0)" class="edit"></a></td> 
      </tr>
     {% endfor %}
  </tbody>
  </table>
  <div class="serpage">
   {% paginate %}
   </div>
   </div>
   <script> 
$(function() { 
//$('.edit').handleTable({"cancel" : "<span class='glyphicon glyphicon-remove'></span>"}); 
$('.editable').handleTable({ 
"handleFirst" : true, 
"cancel" : " <span class='glyphicon glyphicon-remove'></span> ", 
"edit" : " <span class='glyphicon glyphicon-edit'></span> ", 
"add" : " <span class='glyphicon glyphicon-plus'></span> ", 
"save" : " <span class='glyphicon glyphicon-saved'></span> ", 
"confirm" : " <span class='glyphicon glyphicon-ok'></span> ", 
"operatePos" : -1, 
"editableCols" : [0,1,2,3,4,5,6,7], 
"order": ["add","edit"], 
"saveCallback" : function(data, isSuccess) { //这里可以写ajax内容，用于保存编辑后的内容 
//data: 返回的数据 
//isSucess: 方法，用于保存数据成功后，将可编辑状态变为不可编辑状态 
var flag = true; //ajax请求成功（保存数据成功），才回调isSuccess函数（修改保存状态为编辑状态） 
if(flag) { 
isSuccess(); 
alert(data + " 保存成功"); 
} else { 
alert(data + " 保存失败"); 
} 
return true; 
}, 
"addCallback" : function(data,isSuccess) { 
var flag = true; 
if(flag) { 
isSuccess(); 
alert(data + " 增加成功"); 
} else { 
alert(data + " 增加失败"); 
} 
}, 
"delCallback" : function(isSuccess) { 
var flag = true; 
if(flag) { 
isSuccess(); 
alert("删除成功"); 
} else { 
alert("删除失败"); 
} 
} 
}); 
}); 
</script> 

{% endblock %}