{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}
{% load staticfiles %}
{% load pagination_tags %}
    {% autopaginate food_list 9 %}
<style type="text/css"> 
    .top { margin-bottom: 20px; }
    .middle{ margin-bottom: 20px; }
    .serpage{ margin-left: 260px;}
</style> 
<div class="center-block" style="width:300px">
    <h3>印象中的妈妈的味道</h3>
</div>
<div class="row">
    <div class="col-xs-3">
        <ul class="list-group">
            <li class="list-group-item" style="width:210px">本周热门食谱排行榜</li>
            <div style="width:210px">
                <div class="btn-group">
                     <button type="button" id="sum" class="btn btn-success">按数量排序</button>
                     <button type="button" id="zan" class="btn btn-success">按点赞数排序</button>
                </div>
            </div>
            {% for i in food_list1 %}
            <li class="list-group-item" style="width:210px">
                <span class="label label-danger">{{forloop.counter}}</span>                
                </span>
                {{i.name}}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-8">
        <div class="row">
            {% for i in food_list %}
            <div class="col-xs-4 top">
                <img src="{% static i.image %}" width="232" height="232">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>{{i.name}}</p>
                        <h6>{{i.comment}}评论&emsp;&emsp;{{i.hotspot}}人气</h6>
                        <h6>{{i.author}}</h6>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="serpage">
                {% paginate %}
            </div>
    </div>
</div>
<script>
    $(document).ready(function(){
      $("#sum").click(function(){
        alert("1");
      });
      $("#zan").click(function(){
        alert("2");
        $.get("/add/",{'a':a,'b':b}, function(ret){
            $('#result').html(ret)
        })
      });
    });
</script>
{% endblock %}