{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}
{% load staticfiles %}
<style type="text/css"> 
    .top { margin-bottom: 20px; }
    .middle{ margin-bottom: 20px; }
    .serpage{ margin-left: 260px }
</style> 
<div class="center-block" style="width:300px">
    <h3>印象中的妈妈的味道</h3>
</div>
<div class="row">
    <div class="col-xs-3">
        <ul class="list-group">
            <li class="list-group-item" style="width:210px">本周热门食谱排行榜</li>
            <div style="width:210px">
                <div class="btn-group">
                     <button type="button" class="btn btn-success">按数量排序</button>
                     <button type="button" class="btn btn-success">按点赞数排序</button>
                </div>
            </div>
            <li class="list-group-item" style="width:210px">
                <span class="label label-danger">1</span>                
                </span>
                干煸四季豆
            </li>
            <li class="list-group-item" style="width:210px">
                <span class="label label-success">2</span>                
                </span>
                干煸四季豆
            </li>
            <li class="list-group-item" style="width:210px">
                <span class="label label-primary">3</span>                
                </span>
                干煸四季豆
            </li>
            <li class="list-group-item" style="width:210px">
                <span class="label label-default">4</span>                
                </span>
                干煸四季豆
            </li>
            <li class="list-group-item" style="width:210px">
                <span class="label label-default">5</span>                
                </span>
                干煸四季豆
            </li>
            <li class="list-group-item" style="width:210px">
                <span class="label label-default">6</span>                
                </span>
                干煸四季豆
            </li>
            <li class="list-group-item" style="width:210px">
                <span class="label label-default">7</span>                
                </span>
                干煸四季豆
            </li>
            <li class="list-group-item" style="width:210px">
                <span class="label label-default">8</span>                
                </span>
                干煸四季豆
            </li>
            <li class="list-group-item" style="width:210px">
                <span class="label label-default">9</span>                
                </span>
                干煸四季豆
            </li>
            <li class="list-group-item" style="width:210px">
                <span class="label label-default">10</span>                
                </span>
                干煸四季豆
            </li>
        </ul>
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-4 top">
                <img src="{% static "food1.jpg"%}">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>鸡蛋包饭</p>
                        <h6>17评论&emsp;&emsp;7047人气</h6>
                        <h6>用户1</h6>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 top">
                <img src="{% static "food1.jpg"%}">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>鸡蛋包饭</p>
                        <h6>17评论&emsp;&emsp;7047人气</h6>
                        <h6>用户1</h6>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 top">
                <img src="{% static "food1.jpg"%}">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>鸡蛋包饭</p>
                        <h6>17评论&emsp;&emsp;7047人气</h6>
                        <h6>用户1</h6>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 middle">
                <img src="{% static "food1.jpg"%}">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>鸡蛋包饭</p>
                        <h6>17评论&emsp;&emsp;7047人气</h6>
                        <h6>用户1</h6>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 middle">
                <img src="{% static "food1.jpg"%}">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>鸡蛋包饭</p>
                        <h6>17评论&emsp;&emsp;7047人气</h6>
                        <h6>用户1</h6>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 middle">
                <img src="{% static "food1.jpg"%}">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>鸡蛋包饭</p>
                        <h6>17评论&emsp;&emsp;7047人气</h6>
                        <h6>用户1</h6>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 bottom">
                <img src="{% static "food1.jpg"%}">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>鸡蛋包饭</p>
                        <h6>17评论&emsp;&emsp;7047人气</h6>
                        <h6>用户1</h6>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 bottom">
                <img src="{% static "food1.jpg"%}">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>鸡蛋包饭</p>
                        <h6>17评论&emsp;&emsp;7047人气</h6>
                        <h6>用户1</h6>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4 bottom">
                <img src="{% static "food1.jpg"%}">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>鸡蛋包饭</p>
                        <h6>17评论&emsp;&emsp;7047人气</h6>
                        <h6>用户1</h6>
                    </li>
                </ul>
            </div>
            <div class="serpage">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li class="disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}